.footer {
  width: 100%;
  margin: 0;
  flex-shrink: 0;

  background: linear-gradient(
    to bottom,
    #ede6dd,
    #d8cec2
  );

  padding: 45px 40px 18px;
}



.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer-column h3,
.footer-column h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}


.footer-column p,
.footer-column li {
  font-size: 14px;
  color: #e6ddd6;
  line-height: 1.7;
}


.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-bottom {
  margin-top: 25px;
  padding-top: 12px;
  border-top: 1px solid rgba(255,255,255,0.15);
  text-align: center;
  font-size: 13px;
  color: #d4a35a; /* gold tone */
  letter-spacing: 0.4px;
}



@media (max-width: 768px) {
  .footer {
    padding: 35px 20px 12px;
    text-align: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 22px;
  }
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    transparent,
    #a6a099,
    transparent
  );
}
/* .footer-logo {
  width: 220px;
  margin-bottom: 20px;
  filter: brightness(1.2) contrast(1.2) saturate(1.4);
} */

.footer-logo {
  width: 220px;
  margin-bottom: 20px;
  filter: brightness(1.2) contrast(1.2) saturate(1.4);
  opacity: 0.95;
}

.footer-logo:hover {
  filter: brightness(1.3) contrast(1.3) saturate(1.6);
}
